/* General Styles */
body {
    font-family: 'Dancing Script' , cursive;
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

header, footer {
    background-color: red;
    color: white;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

header h2 {
    font-size: 1.5rem;
    margin: 0;
}

main {
    padding: 20px;
    text-align: center;
}
p{
    font-size: 1.5rem;
}

/* Section Styles */
#about ul {
    list-style: none;
    display: inline-block;
    list-style-type: disc;
    padding: 2%;
    margin-right: 20px;
}

#about ul li {
    margin: 5px 0;
    font-size: 1.5rem;
    padding: 2%;
    color: silver;
    margin: 5px 0;
}

/* Media Section */
h3{
    font-size: 1.5rem;
}
#media {
    margin: 20px 0;
    font-family: 'Lobster', cursive;

}
#before-fence {
    background-image: url(images/rr.jpeg);
        background-size: cover; /* Makes the image cover the entire div */
        background-position: center; /* Centers the image */
        height: 300px; /* Make sure to set a height for the div */
        width: 80%; /* Adjust width as necessary */
        max-width: 500px;
        padding: 2%;
    
}
#after-fence {
    background-image: url(images/pp.HEIC);
        background-size: cover; /* Makes the image cover the entire div */
        background-position: center; /* Centers the image */
        height: 300px; /* Make sure to set a height for the div */
        width: 80%; /* Adjust width as necessary */
        max-width: 500px;
        padding: 2%;
}
#wiring-video{
    background-image: url(images/video1.MOV);
    background-size: cover; /* Makes the image cover the entire div */
    background-position: center; /* Centers the image */
    height: 300px; /* Make sure to set a height for the div */
    width: 80%; /* Adjust width as necessary */
    max-width: 500px;
    padding: 2%;
}
.image-placeholder, .video-placeholder {
    margin: 10px auto;
    background-color: white;
    color: black;
    border: 2px solid red;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 10px;
}

.video-placeholder {
    height: 350px;
}

/* Footer Styles */
footer {
    margin-top: 20px;
}

#business-card {
    background-image: url(images/logo.heic);
    margin: 20px auto 0;
    height: 200px;
    width: 80%;
    max-width: 300px;
    border-radius: 10px;
    background-size: 98% 98%;
    
}

/* Responsiveness */
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }
    header h2 {
        font-size: 1.2rem;
    }
    .image-placeholder, .video-placeholder, #business-card {
        width: 90%;
        height: auto;
    }
}